.main {

  background-color: #101010;
  position: relative;
}

.container {

  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 480px 1fr;
  height: calc(100vh - 80px);
  grid-column-gap: 70px;
}