.header {

  background: linear-gradient(270deg, #2E1746, #2E225F);
  position: relative;
  z-index: 1;
}

.inner {

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  height: 80px;
}

.column {

  display: grid;
  grid-template-columns: auto 1px auto;
  grid-template-rows: 1fr;
  gap: 12px;
  padding-block: 3px;
}