.li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-block: 16px;
  padding-left: 20px;
}

.content:first-of-type {

  display: grid;
  grid-template-columns: 103px 91px 146px 135px 90px;
  grid-auto-rows: auto;
  grid-column-gap: 5px;
  align-items: center;

  &:last-of-type {
    gap: 8px;
  }
}

.content:last-of-type {

  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 45px;
}

.text {
  font-size: 14px;
  text-transform: capitalize;

  &:first-of-type {
    margin-right: 50px;
  }

  &:nth-of-type(2) {
    margin-right: 70px;
  }

  &:nth-of-type(3) {
    margin-right: 80px;
  }

  &:nth-of-type(4) {
    margin-right: 50px;
    word-break: break-all;
  }

  &:last-of-type {
    margin-left: 45px;
  }
}

.sum {

  @extend .text;
  color: #FF868D;
}

.sumActive {
  @extend .sum;
  color: #FFB627;
}

.image {
  cursor: pointer;
}

.button {

  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  padding: 4px 12px;
  text-transform: capitalize;
  background: linear-gradient(96.76deg, #FFC727 -16.42%, #9E40BA 97.04%, #7000FF 150.71%);
  box-shadow: 1px 9px 15px rgba(0, 0, 0, 0.2);
}