.container {

  margin-top: 32px;
  display: grid;
  grid-template-columns: minmax(0, 288px) minmax(0, 395px);
  grid-template-rows: auto minmax(auto, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 32px;
  grid-template-areas: "title title"
                       "chart list";
}